/*
stylesheet mostly written by Maya Murad, student num: 250850926
*/

/* body attributes */
body {
	font-family: verdana, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	background-color: #f1f1f1;
	color: black;
}

/* header container */
.header {
  	overflow: hidden;
  	background-color: white;
  	padding-top: -40px;
	padding-left: 20px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 120px;
	overflow: hidden;
	z-index: 99;
}

/* header link container */
.header-links {
	position: absolute;
	left: 25%;
	bottom: 10%;
}

/* header styles */
h1 {
	font-family: avenir, sans-serif;
	color: #1a1a1a;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-size: 50px;
}

h2 {
	font-family: avenir, sans-serif;
	color: #ffbf00;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-size: 60px;
}

h3 {
	font-family: avenir, sans-serif;
	color: white;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-size: 20px;
}

/* pretty buttons */
.h3 {
  	margin: 5px;
  	border: none;
  	padding: 5px 15px;
	font-family: verdana;
	letter-spacing: 2px;
  	font-size: 10px;
	text-transform: uppercase;
	font-weight: lighter;
	color: white;
	background-color: #e35d6a;
  	position: relative;
  	border-radius: 10px;
}

/* flex containers for website layout */
.flex-title { /* child container that contains the title */
	padding: 20px;
}

.flex-child { /* child flex containers */
	flex: 0 0 350px;
	padding: 20px;
	opacity: 0.7;
}

.flex-child:hover{ /* cool hover opacity effect on each container */
	opacity: 1; /* so fun , so pretty @_@ */
}

.container { /* sub container to further organize layout.. */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	align-content: space-between;
	height: 500px;
	width: 250px;
}

.other-container { /* sub other container to EVEN FURTHER organize layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	align-content: space-between;
	height: 700px;
	width: 350px;
}

.flex-container { /* MAIN container that holds ALL the other containers */
  	margin-top: 145px; /* -.- so many containers */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
	width: 100%;
}

/* button css class from: https://codepen.io/dan10gc/pen/EQbjgP  */
/* because these buttons are super cool and i dont know how to do this */
.btn { 
  	margin: 20px 20px;
  	border: none;
  	padding: 10px 44px;
	font-family: verdana;
	letter-spacing: 2px;
  	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
  	position: relative;
  	border-radius: 20px;
}

.btn::before { 
  	transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  	content: '';
  	width: 30%;
  	height: 100%;
	opacity: 0.5;
  	background: #e35d6a;
  	position: absolute;
  	top: 0;
  	left: 0;
	border-radius: 50px;
}

.btn.gree::before { /* different color buttons - this one is green */
	background: #5cb85c;
}

.btn.yello::before { /* this one is yellow ... */
	background: #ffbf00;
}

.btn.blu::before { /* this one is blue. rainbow :D */
	background: #428bca;
}

.btn:hover::before {
	opacity: 1.0;
  	width: 100%;
}

.btn .text {
  	color: black;
  	mix-blend-mode: multiply;
}
/* end of button class received from the internet */


